* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.custom-select {
	background: none;
	opacity: 1 !important;
	border: none;
}

/* ---------------Home Page------------------ */
/* Hero Section  */
.hero-section {
	background-image: url("./assets/images/heroBackground.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}
