* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.custom-select {
	background: none;
	opacity: 1 !important;
	border: none;
}

/* ---------------Nav Bar------------------ */
.no-border-select .ant-select-selector {
	border: none !important;
	box-shadow: none !important;
}

/* ---------------Home Page------------------ */
/* Hero Section  */
.hero-section {
	background-image: url("./assets/images/heroBackground.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	padding-inline: 10%;
}

.hero-heading {
	font-size: 3.8rem;
	font-weight: 600;
	color: #0a3c0cff;
}
